.Form {
    width: 95%;
    border: 1px solid lime;
    padding: 32px;
    border-radius: 5px;
    margin: 17% auto;
}

.SpreadButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 49px;
}

.Error {
    font-family: Helvetica, Arial, sans-serif;
    color: lime;
    text-align: center;
}

/* @media (orientation: landscape) {
    .Form {
        max-width: 250px;
    }
} */

@media (min-width: 550px) {
    .Form {
        width: 70%;
        margin: 150px auto;
    }
}

@media (min-width: 760px) {
    .Form {
        width: 60%;
    }
}

/* .Form {
    width: 60%;
    border: 1px solid lime;
    padding: 50px;
    border-radius: 5px;
    margin: 0 auto;
} */