.Logo {
    font-size: 29px;
    text-align: center;
    margin: 47px 0;
}

.Logo a {
    text-decoration: none;
    color: lime;
}

@media (min-width: 650px) {
    .Logo {
        position: relative;
        margin: 20px 0;
        top: 107px;
    }
}