.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    display: block;
    color: lime;
    margin-bottom: 10px;
}

.InputElement {
    width: 100%;
    outline: none;
    border: 1px solid lime;
    background-color: black;
    font: inherit;
    color: white;
    padding: 6px 10px;
    display: block;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 30px;
    border-radius: 2px;
}

.InputElement:focus {
    outline: none;
}

.Invalid {
    border: 1px solid red;
}