.Button {
    width: 45%;
    height: fit-content;
    border: 1px solid lime;
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 2px; 
    font-size: 14px;
    cursor: pointer;
    color: lime;
    padding: 7px;
}

.Button:focus {
    outline: none;
}

.deleteButton {
    display: block;
    color: red;
    border: 0;
    margin: 0 auto;
    width: 64%;
}

@media (min-width: 700px) {
    .deleteButton {
        width: 45%;
        position: relative;
        right: 17px;
    }
}